/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2017, 10:45:38 PM
    Author     : Stephen Weber
*/

body {
    margin: 0 auto;
    background-color: #FFF;
    font-family: Helvetica-Light, Arial, sans-serif
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

.grid-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

iframe{
    border: none;
}

table{
    text-align: center;
    border-spacing: 30px 10px;
}

table tr th {
    padding-right: 10px;
}

.center{
    text-align: center;
}